.about__container{
	padding-top: 1px;
}
.content{
	padding-top: 10px;
	background:transparent url('../img/background__cycles.svg') left top;
	background-size: cover;
}
.presale-banner{
	@extend .wrapper;
	margin-top: 164px;
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	padding-left: 85px;
	background-image: $blue-gradient;
	position: relative;
	box-sizing: border-box;

}
.presale__title{
	font-weight: 700;
	margin: 0;
	color: #fff;

	span:first-child{
		margin-right: 75px;
	}
}
.presale__img{
	margin: -100px 0px;
}
.presale__btn{
	background-color: #f9c864;
	border-radius: 10px;
	font-family: 'Montserrat', 'Do Hyeon', sans-serif;
	text-decoration: none;
	color: $main;
	font-weight: 700;
	font-size: 40px;
	padding: 10px 30px;
}
.about__title{
	margin-bottom: 0;
	margin-top: 170px;
}
.about__content{
	@extend .wrapper-sm;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;

}

.about__text{
	width: 600px;
	max-width: 100%;
}
@media screen and (max-width: 1024px) {
	.about{
		padding: 0px 20px;
	}
}
@media screen and (max-width: 768px) {
	.presale-banner{
		box-shadow: inset 0px 12px 20px -10px rgba(0,0,0,.5);
		position: relative;
		padding-bottom: 40px !important;
		border-radius: 0;
	}
	.presale__btn{
		position: absolute;
		bottom: -35px;
	}
	.presale__title{

		span:first-child{
			margin-right: 0;
		}
	}
	.about__img{
		margin: 20px auto;
	}
	.presale-banner{
		flex-wrap: wrap;
	    padding: 20px;
	    justify-content: center;
	    text-align: center;
		img{
			display: none;
		}
	}
}
@media screen and(max-width: 425px) {
}