.carouselsect{
	// min-height: 200px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 18px;
}
.carousel-wrapper{
	position: relative;
	z-index: 2;
	max-width: 1245px;
	padding: 0px 50px;
	margin: 0 auto;
	border-radius: 15px;
	.next-arr{
	    position: absolute;
	    right: 15px;
	    top: calc(50% - 15px);
	    cursor: pointer;
	}
	.prev-arr{
	    position: absolute;
	    left: 15px;
	    top: calc(50% - 15px);
	    cursor: pointer;
	}
	.carouslitem{
		display: flex;
		height: 120px;
		align-items: center;
		justify-content: space-around;
		overflow: hidden;
	}

	img{
		display: block;
		width: 100%;
	}
}
.btn-sect{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	padding-top: 120px;
	padding-bottom: 50px;
	max-width: 1200px;
	margin: 0 auto;
	.btn{
		padding: 0px 13px;
		border-radius: 5px;

	}
}
.btn-sect__btn{
	text-align: center;	
	margin: 20px;
}
#videoinstructions{
	width: 38px;
	height: 38px;
	margin-right: 10px;
	display: inline-block;
	background: url(../img/play-btn-ico.svg) center center no-repeat;
}
#videobtntext{
	display: inline-block;
}
#videobtnico{
	width: 50px;
	height: 50px;
	display: inline-block;
	margin-left: 10px;
	background: url(../img/video-btn.svg) center center no-repeat;
}
.btn-sect__btn{
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}
.videobtn{
	transition: 0.4s ease-in-out;
	&:hover{
		transform: scale(1.2);
	}
}
.faq-btn{
	border-radius: 100%;
	width: 50px;
	height: 50px;
	transition: 0.4s ease-in-out;
	text-decoration: none;
	&:hover{
		transform: scale(1.2);
	}
}
.default{
	text-decoration: none;
	min-height: 50px;
	transition: all 0.2s ease-in-out;
	&:hover{
	}
}
.wallets-container{
	display: none;
}
.wallets-list{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	list-style-type: none;
	margin: 0;
	text-align: center;
	font-size: 14px;
	padding: 0;

	.walletitem{
		display: block;
		padding: 10px;
		color: #333;
		text-decoration: none;
		font-weight: 500;
		text-transform: none;
		img{
			display: block;
			padding: 10px;
		}
	}
}
@media screen and (max-width: 640px) {
	.faq-btn{
		order: -1;
	}
	.videobtn{
		order: -2;
	}
	.default{
		width: 230px;
	}
}