.crowdsale{
	background:transparent url('../img/background-crowdsale.png') left top no-repeat;
	background-size: cover;
	padding-top: 1px;
	padding-bottom: 30px;
	min-height: 100vh;
	font-weight: 600;
	font-size: 20px;
	p{
		font-family: 'Nanum Gothic', sans-serif;
		padding: 0;
	}

}
.crowdsale__header{
	display: flex;
	flex-wrap: wrap;
	max-width: 1200px;
	margin: 0 auto;

}
.crowdsale__title{
	text-align: left;
	width: 700px;
	max-width: 90vw;
	margin: 40px auto;
}
.header__logo{
	
}
.crowdsale__content{
	display: flex;
	width: 1200px;
	max-width: 90vw;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	margin-top: 150px;
}
.crowdsale__calculator{
	width: 645px;
	max-width: 100%;

	a{
		color: $main;
		text-decoration: none;
	}
}
.calculator{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	text-align: center;
	.inp__name{
		font-size: 24px;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	input{
		width: 228px;
		box-sizing: border-box;
		padding: 10px 20px;
		font-size: 24px;
		background: transparent;
		box-shadow: none;
		border: 2px solid $main;
		border-radius: 10px;
	}
	img{
		margin: 50px 35px 20px;
	}

}

.crowdsale__media__links{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.crowdsale__media__links__item{
	width: 51px !important;
	height: 51px !important;
	background-image: url(../img/media-sprite.svg);
	background-repeat: no-repeat;
	background-position-x: 0 !important;
	margin: 10px;
	&.--kakao{
		background-position-y: 0;
	}
	&.--reddit{
		background-position-y: -70px;
	}
	&.--github{
		background-position-y: -140px;
	}
	&.--bitcointalk{
		background-position-y: -210px;
	}
	&.--instagram{
		background-position-y: -280px;
	}
	&.--facebook{
		background-position-y: -350px;
	}
	&.--telegram{
		background-position-y: -420px;
	}
	&.--medium{
		background-position-y: -490px;
	}
	&.--twitter{
		background-position-y: -560px;
	}
	&.--wechat{
		background-position-y: -630px;
	}
	&.--slack{
		background-position-y: -700px;
	}
}

.crowdsale__address{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	max-width: 100%;
	word-break: break-word;
	.lgoo{
		margin: 10px;
	}
	.address{
		word-break: break-word;
	}
}
.crowdsale__btns{
	margin-top: 50px;
	text-align: right;
	.btn__crowdsale{
		font-family: 'Nanum Gothic', sans-serif;
		display: inline-block;
		background-color: $blue;
		padding: 12px 95px;
		color: #fff;
		border-radius: 10px;
	}
}
.break{
	word-wrap: break-word;
}
@media screen and (max-width: 1200px) {
	.header__logo{
		left: auto;
		right: 10%;
	}
	// .crowdsale__logo__cube{
	// 	display: block;
	// 	margin: 0 auto 40px;
	// 	order: 1;
	// }
	// .crowdsale__calculator{
	// 	order: 2;
	// }
	.crowdsale__logo__cube{
		display: none;
	}
	.crowdsale__content{
		text-align: center;
	}
}
@media screen and (max-width: 768px) {
	.crowdsale__media__links{
		flex-direction: row;
		justify-content: center;
	}
	.calculator{
		justify-content: space-around;
	}
	.crowdsale__address{
		flex-direction: column;
		justify-content: space-around;
	}

}
@media screen and (max-width: 425px) {
	.crowdsale__content{
		margin-top: 50px;
	}
	.header__logo{
		right: 0;
	}
	.calculator{
		justify-content: space-around;
		.revers{
			margin: 50px;
		}
	}
	.calc-inp{
		flex-grow: 2;
		width: 100%;
	}
}