.cycle__content__text{
	margin: 30px 0;
}
@media screen and (min-width: 500px) {
	.features{
		display: flex;
		text-align: center;
		margin: 0 auto;
		max-width: 1200px;
		justify-content: space-around;
		margin-top: 120px;
	}
	.features__item{
		max-width: 400px;
		margin: 30px;
	}
	.competition{
		max-width: 1200px;
		margin: 150px auto 0;
	}
	.competition__tittle{
		text-align: center;
	}
	.parameters__container{
		display: flex;
		align-items: center;
		max-width: 1200px;
		margin: 0 auto;
		flex-wrap: wrap;
		justify-content: space-around;
		margin-top: 40px;
	}
	.parameters__text{
		max-width: 400px;
		margin: 30px 0px;
	}
	.cycle{
		max-width: 1200px;
		margin: 150px auto 0;
	}
	.cycle__title{
		text-align: center;
	}
	.cycle__content{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		flex-shrink: 1;
	}
	.cycle__img__desctop{
		max-width: 700px;
	}
	.cycle__content__text{
		width: 400px;
		margin: 85px 0px;
		div{
			text-indent: 20px;
		}
	}


	.competition__title__img,
	.vs,
	.parameters__mob,
	.cycle__img{
		display: none;
	}
	
}



@media screen and (max-width: 500px) {
	.parameters__desctop,
	.cycle__img__desctop{
		display: none;
	}
	.docs{
		display: block;
	}
	.features{
		max-width: 300px;
		margin: 0 auto;
		margin-top: 100px;
		text-align: center;
	}
	.features__item__img{
		display: block;
		margin: 0 auto;

	}
	.features__item__text{
		margin: 30px 0 100px;
	}
	.competition{
		text-align: center;
	}
	.competition__tittle{
		font-size: 30px;
		padding: 0px 20px;
	}
	.competition__title__img{
		margin: 40px 0 30px;
	}
	.vs{
		width: 90vw;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		margin-bottom: 30px;
	}
	.vs__item__text{
		font-size: 42px;
		font-weight: bold;
		align-self: flex-end;
		margin-bottom: 20px;
	}
	.parameters{
		img{
			width: 100%;
		}
		margin-bottom: 30px;
	}
	.parameters__text{
		width: 95vw;
		margin: 0 auto;
	}
	.cycle{
		margin: 100px auto;
		width: 90vw;
		max-width: 400px;
		text-align: center;
	}
	.cycle__title{
		margin-bottom: 40px;
	}
	.cycle__img{
		margin-bottom: 35px;
	}
}