.manual{
	@extend .wrapper;
	text-align: center;
	margin-top: 145px;
	
}
.manual__title{
	font-size: 45px;
	margin-bottom: 12px;
}
.manual__subtitle {
    margin-top: 14px;
}
.manual__container{
	margin-top: 100px;
	max-width: 100%;
	box-sizing: border-box;
	img{
		max-width: 100%;
	}
}
.whitepapper__intro{
	margin-top: 92px;
	margin-bottom: 48px;
	text-align: center;
}
.whitepapper__btn{
	text-decoration: none;
	display: block;
	background-color: #1d9df2;
	color: #fff;
	border-radius: 28px;
	padding: 16px 25px;
	cursor: pointer;
	width: 199px;
	box-sizing: border-box;
	margin: 0 auto;
}

.--responsive{
	display: none;
}

@media screen and(max-width: 768px) {
	.--desktop{
		display: none;
	}
	.--responsive{
		display: block;
	}
}