.op-banner{

}

.op-banner__container{
	margin: 100px auto;
	text-align: center;
	padding: 0px 20px;
	img{
		max-width: 100%;
		height: auto;
	}
	.img__adaptive{
		display: none;
	}
}

.rates{
	margin-top: 100px;
}
.rates__container{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: center;
	margin: 0 auto;
}
.rates__item {
    margin: 60px;

    img{
    	max-width: 100%;
    }
}
@media screen and (max-width: 425px) {
	.rates__item{
		margin: 30px !important;
	}

	.op-banner__container{
		.img__adaptive{
			display: inline-block;
		}
		.img__desctop{
			display: none;
		}
	}	
}