$main: #00426E;
$gold: #f5a623;
$blue: #1e9df2;
$blue-gradient: linear-gradient(to right, #55ccf2 0%, #2f80ed 100%);

*{
	outline: none;
}
body{
	font-family: 'Montserrat', 'Do Hyeon', sans-serif;
	font-weight: 500;
	font-size: 14px;
	color: $main;
}
h1{
	padding: 0px 20px;
	font-weight: 400;
	font-size: 64px;
	text-align: center;
	font-family: 'Montserrat', 'Do Hyeon', sans-serif;
}
h2{
	padding: 0px 20px;
	font-family: 'Montserrat', 'Do Hyeon', sans-serif;
	font-size: 47px;
	font-weight: 400;
}
h3{
	padding: 0px 20px;
	text-align: center;
	font-size: 40px;
	font-family: 'Montserrat', 'Do Hyeon', sans-serif;
}
h4{
	padding: 0px 20px;
	font-family: 'Montserrat', 'Jua', sans-serif;
	font-weight: 600;
	font-size: 18px;
}
p{
	padding: 0px 20px;
	font-family: 'Montserrat', 'Jua', sans-serif;
}
div{
	font-family: 'Montserrat', 'Jua', sans-serif;
}
@media screen and(max-width: 1224px) {
	.wrapper{
		padding: 0px 20px;
	}
}
@media screen and(max-width: 768px) {

}
@media screen and (max-width: 425px) {
	h1{
		font-size: 50px;
	}
	h2{
		font-size: 35px;
	}
}

.wrapper{
	width: 1200px;
	max-width: 100%;
	margin: 0 auto;
	box-sizing: border-box;

}
.wrapper-md{
	width: 1024px;
	max-width: 100%;
	margin: 0 auto;
}
.wrapper-sm{
	width: 900px;
	max-width: 100%;
	margin: 0 auto;
}


.--gold{
	color: $gold;
}
.--blue{
	color: $blue;
}
.--large{
	font-size: 48px;
	font-weight: 700;
}
.--midle{
	font-size: 24px;
	font-weight: 500;
}